* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}